.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}
